<h1>Add a review for <%= @restaurant.name %> 🙊</h1>
<div class="form m-4">
    <%= form_for [@restaurant, @review] do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :rating %>
      <%= f.select :rating, [0,1,2,3,4,5], class: 'form-control' %>
    </div>
      <%= f.submit class: 'btn btn-primary' %>

    <% end %>
</div>

